body {
    background-color: rgb(36, 35, 41);
}

.fa-clock,
h1 {
    color: white;
    font-size: 50px;
}

.col {
    background-color: rgb(27, 26, 34);
    border: solid 2px rgb(53, 50, 59);
    border-radius: 20px;
}